<div class="container">
  <form #form="ngForm" class="form" novalidate>

    <div class="form-group">
      <input name="name" #nom="ngModel" [(ngModel)]="newItem.name" type="text" class="form-control" placeholder="Nom et prénom" required minlength="5">
    </div>

    <div class="form-group">
      <input name="reference" #ref="ngModel" [(ngModel)]="newItem.reference" type="text" class="form-control" placeholder="Référence" required minlength="4">
    </div>

    <div class="form-group">
      <select name="state" #etat="ngModel" [(ngModel)]="newItem.state" class="form-control">
        <option *ngFor="let intitule of intitules" value="{{ intitule }}">{{ intitule }}</option>
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Valider</button>
    </div>

  </form>
</div>
