<div class="container">
  <form #form="ngForm" class="form" novalidate (ngSubmit)="process()">

    <div class="my-2">
      <input name="name" #nom="ngModel" [(ngModel)]="newItem.name" type="text" class="form-control" placeholder="Nom et prénom" required minlength="5">
      <div class="alert alert-danger" *ngIf="nom.touched && nom.invalid">Champ invalide</div>
    </div>

    <div class="my-2">
      <input name="reference" #ref="ngModel" [(ngModel)]="newItem.reference" type="text" class="form-control" placeholder="Référence" required minlength="4">
    </div>

    <div class="my-2">
      <select name="state" #etat="ngModel" [(ngModel)]="newItem.state" class="form-control">
        <option *ngFor="let intitule of intitules" [ngValue]="intitule">{{ intitule }}</option>
      </select>
    </div>

    <div class="my-2">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Valider</button>
    </div>

  </form>
</div>
