@import 'bootstrap/scss/bootstrap';

.card,
.form {
  margin-top: 1rem;
}
.card .btn + .btn {
  margin-left: 1rem;
}
.state-a-livrer {
  color: red;
}
.state-en-cours {
  color: blue;
}
.state-livree {
  color: green;
}
